body {
    display: flex;
    justify-content: center;
}
p {
    margin: 0px;
}

#mainContainer {
    padding: 10px;
    background-color: rgb(160, 160, 160);

    height: 300px;
    width: 300px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

#displayPanel {
    font-size: 40px;
    text-align: right;
}

button {
    margin: 2px 0px;

    width: 40px;
    height: 40px;
    font-size: 30px;
}

.longButton {
    width: 128px;
}