body {
    display: flex;
    justify-content: center;
}
p {
    margin: 0px;
    padding: 0px 5px;
}

#mainContainer {
    height: 300px;
    width: 200px;
    background-color: rgb(40, 40, 40);
    
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;
}

#displayPanel {
    width: 170px;
    background-color: rgb(43, 53, 52);

    margin: 10px 0px;
    border: 4px, solid, rgb(71, 86, 83);
    border-radius: 5px;

    font-size: 25px;
    font-family: monospace;
    text-align: right;
}

button {
    height: 40px;
    width: 40px;
    background-color: rgb(56, 56, 56);

    margin: 2px 0px;

    border: 2px, solid, rgb(115, 115, 115);
    border-radius: 10px;

    font-size: 25px;
    color: white;
}

.longBtn {
    width: 128px;
}
.MidBtn {
    width: 85px;
}

.opBtn {
    background-color: rgb(167, 92, 0);
}